torch==2.5.1
torchvision==0.20.1
torchaudio==2.5.1
transformers==4.48.0
accelerate
datasets
tokenizers==0.21.0
sentencepiece==0.2.0
safetensors
pandas
numpy
matplotlib==3.10.0
seaborn
tiktoken==0.8.0
openai
huggingface_hub
pydantic
requests
tqdm
gpustat==1.1.1
wandb
